
<section #footer class="container-fluid">
  <!-- Footer -->
  <footer id="footer" class="text-center text-white" style="">
    <!-- Grid container -->
    <div class="containerfooter">
      <!-- Section: CTA -->
      <section class="liensfooter">
      			<a class="nav-link" href="{{ path('app_group_index') }}">Les groupes de lecture
					  </a>
          	<a class="nav-link" href="{{ path('app_group_index') }}">Les groupes de lecture
					  </a>

      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(3, 2, 0, 0.2);">
      © 2024 Copyright:
      <a class="text-white" href="">Super Bouquin</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>