{% extends 'base.html.twig' %}

{% block title %}Inscription dans un groupe
{% endblock %}

{% block body %}
	<div class="container ">
		<div class="titre-site mt-4 mb-4">
			<h1>Nouvelle inscription</h1>
		</div>

		{{ include('pages/group/_form.html.twig') }}

		<a href="{{ path('app_group_index') }}" class="buttonbutton mt-5">Retour a la liste</a>
	{% endblock %}

