@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");

html #html{ 
    height : 100%;
}

body #body{
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
}

#main{
    height: 100%;
    min-height: calc(100vh - 250px);
    overflow: hidden;
    background-color:#85EDEE; 
    background: linear-gradient(50deg, #85EDEE, #1E616C);
  
} 

#footer{
  height: 100px;
  position: relative;  
  bottom: 0;
  /* background-color: #1E616C;*/
} 

.blue{
    background-color:#1E616C; 
    background: linear-gradient(90deg, #003335, black);
    color:white;
}

.darkblue{
    color: rgb(1, 1, 59);
}

/*  */
.erreur{
    color: black;
    text-align: center;
    justify-content: center;
}

.tbody{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  pagination des listes user et user_info */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
  }

#boutonNavBar{
    color: rgb(1, 1, 59);
    background-color: #1E616C;
}

/* card book */

.main-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-family: 'Roboto', sans-serif;
  }
  
  .card-card {
    width: 24rem;
    height: 36rem;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
   
    .img-card {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0.9;
      transition: opacity .2s ease-out;
    }
  
    .h2-card {
      position: absolute;
      inset: auto auto 30px 30px;
      margin: 0;
      transition: inset .3s .3s ease-out;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: normal;
      text-transform: uppercase;
      color:rgb(190, 190, 238);
    }
    
    .p-card, .a-card {
      position: absolute;
      opacity: 0;
      max-width: 80%;
      transition: opacity .3s ease-out;
    }
    
    .p-card {
      inset: auto auto 80px 30px;
    }
    
    .a-card {
      inset: auto auto 40px 30px;
      color: inherit;
      text-decoration: none;
    }
    
    &:hover .h2-card {
      inset: auto auto 220px 30px;
      transition: inset .3s ease-out;
    }
    
    &:hover .p-card, &:hover .a-card {
      opacity: 1;
      transition: opacity .5s .1s ease-in;
    }
    
    &:hover .img-card {
      transition: opacity .3s ease-in;
      opacity: 1;
    }
  
  }
  
  .material-symbols-outlined-card {
    vertical-align: middle;
  }