{% extends 'base.html.twig' %}

{% block title %}
	Page d'erreur
{% endblock %}

{% block body %}
	<div class="container-fluid erreur">
		<h1 class="titre-site mt-4 mb-4">
			Page en construction, Merci de votre comprehension.
		</h1>

		<div>
			<img class="erreurImage mt-4 mb-5" src="./../../../assets/img/logo2.png" alt="logo Super Bouquin">
		</div>

	</div>
{% endblock %}
